<h1> Data Analytics</h1>
<hr>
<h3> Creator : Lester Genton </h3>

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

<p> Importing Dataset</p>

<ul><strong>Requirements</strong>
    <li>Name of the Dataframe</li>
    <li>Sources</li>
</ul>

<p> Importing Dataset</p>

<ul><strong>Requirements</strong>
    <li>Name of the Dataframe</li>
    <li>Sources</li>
</ul>

In [2]:
penguins = pd.read_csv('datasets//penguins.csv')

In [3]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [4]:
penguins.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [5]:
penguins.describe().T

,count,mean,std,min,25%,50%,75%,max
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.5,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.7,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.0,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.0,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.0,2009.0

In [6]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [7]:
penguins['island']

0      Torgersen
1      Torgersen
2      Torgersen
3      Torgersen
4      Torgersen
         ...
339        Dream
340        Dream
341        Dream
342        Dream
343        Dream
Name: island, Length: 344, dtype: object

In [8]:
penguins ['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [9]:
penguins[penguins ['species'] == "Chinstrap"]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
276,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
277,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
279,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
280,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [10]:
penguins[penguins ["species"] == "Gentoo"]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
152,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007
153,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male,2007
154,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007
155,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male,2007
156,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male,2007
...,...,...,...,...,...,...,...,...
271,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009
272,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
273,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

In [11]:
penguins[penguins["species"] == "Adelie"]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
147,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

In [12]:
Adelie_df = penguins[penguins["species"] == "Adalie"]

In [13]:
Adelie_df

Empty DataFrame
Columns: [species, island, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, sex, year]
Index: []

In [14]:
(penguins['species'] == "Chinstrap") & (penguins['body_mass_g'] >= 4000)

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340    False
341    False
342     True
343    False
Length: 344, dtype: bool

In [15]:
(penguins["species"] == "Adelie") & (penguins["body_mass_g"] >= 4000)

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Length: 344, dtype: bool

In [16]:
Adelie_heavy= penguins[(penguins["species"] == "Adelie") & (penguins["body_mass_g"] >= 4000)]

In [17]:
Adelie_heavy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39 entries, 7 to 151
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            39 non-null     object
 1   island             39 non-null     object
 2   bill_length_mm     39 non-null     float64
 3   bill_depth_mm      39 non-null     float64
 4   flipper_length_mm  39 non-null     float64
 5   body_mass_g        39 non-null     float64
 6   sex                38 non-null     object
 7   year               39 non-null     int64
dtypes: float64(4), int64(1), object(3)
memory usage: 2.7+ KB

In [18]:
penguins['bill_length_mm'].mean()

43.9219298245614

In [19]:
penguins['bill_length_mm']

0      39.1
1      39.5
2      40.3
3       NaN
4      36.7
       ...
339    55.8
340    43.5
341    49.6
342    50.8
343    50.2
Name: bill_length_mm, Length: 344, dtype: float64

In [20]:
penguins['bill_length_mm'].fillna(penguins['bill_length_mm'].mean())

0      39.10000
1      39.50000
2      40.30000
3      43.92193
4      36.70000
         ...
339    55.80000
340    43.50000
341    49.60000
342    50.80000
343    50.20000
Name: bill_length_mm, Length: 344, dtype: float64

In [21]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [22]:
penguins ['sex'].fillna(penguins ['sex'].mode())

0        male
1      female
2      female
3         NaN
4      female
        ...
339      male
340    female
341      male
342      male
343    female
Name: sex, Length: 344, dtype: object

In [23]:
penguins ['sex']= penguins ['sex'].fillna(penguins ['sex'].mode())

In [24]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [25]:
penguins ['sex'].mode()

0    male
Name: sex, dtype: object

In [26]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

<h1> Filling Up Null Value</h1>

In [27]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [28]:
penguins['bill_length_mm'].mean()

43.9219298245614

In [29]:
penguins['bill_length_mm'] = penguins['bill_length_mm'].fillna(penguins['bill_length_mm'].mean())
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [30]:
penguins['bill_depth_mm'].mean()

17.151169590643274

In [31]:
penguins['bill_depth_mm'] = penguins['bill_depth_mm'].fillna(penguins['bill_depth_mm'].mean())
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [32]:
penguins['flipper_length_mm'].mean()

200.91520467836258

In [33]:
penguins['flipper_length_mm'] = penguins['flipper_length_mm'].fillna(penguins['flipper_length_mm'].mean())
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [34]:
penguins['body_mass_g'].mean()

4201.754385964912

In [35]:
penguins['body_mass_g'] = penguins['body_mass_g'].fillna(penguins['body_mass_g'].mean())
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           0
sex                  11
year                  0
dtype: int64

In [36]:
penguins ['sex'].mode()

0    male
Name: sex, dtype: object

In [37]:
penguins ['sex'] = penguins ['sex'].fillna(penguins ['sex'].mode()[0])
penguins.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

<h1> How to Change the Data Type of a Column</h1>

In [38]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    object
 7   year               344 non-null    int64
dtypes: float64(4), int64(1), object(3)
memory usage: 21.6+ KB

In [39]:
penguins['species'] = penguins['species'].astype('category')

In [40]:
penguins.info

<bound method DataFrame.info of        species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0       Adelie  Torgersen        39.10000       18.70000         181.000000
1       Adelie  Torgersen        39.50000       17.40000         186.000000
2       Adelie  Torgersen        40.30000       18.00000         195.000000
3       Adelie  Torgersen        43.92193       17.15117         200.915205
4       Adelie  Torgersen        36.70000       19.30000         193.000000
..         ...        ...             ...            ...                ...
339  Chinstrap      Dream        55.80000       19.80000         207.000000
340  Chinstrap      Dream        43.50000       18.10000         202.000000
341  Chinstrap      Dream        49.60000       18.20000         193.000000
342  Chinstrap      Dream        50.80000       19.00000         210.000000
343  Chinstrap      Dream        50.20000       18.70000         198.000000

     body_mass_g     sex  year
0    3750.000000    male  2007
1    3800.000000  female  2007
2    3250.000000  female  2007
3    4201.754386    male  2007
4    3450.000000  female  2007
..           ...     ...   ...
339  4000.000000    male  2009
340  3400.000000  female  2009
341  3775.000000    male  2009
342  4100.000000    male  2009
343  3775.000000  female  2009

[344 rows x 8 columns]>

In [41]:
penguins.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,344.000000,344.000000,344.000000,344.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.443643,1.969027,14.020657,799.613058,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.275000,15.600000,190.000000,3550.000000,2007.000000
50%,44.250000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [42]:
penguins.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex', 'year'],
      dtype='object')

In [43]:
penguins['mass_kg'] = penguins['body_mass_g'] / 1000

In [44]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
0,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.750000
1,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.800000
2,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.250000
3,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.201754
4,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.450000
...,...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009,4.000000
340,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009,3.400000
341,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009,3.775000
342,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009,4.100000
343,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009,3.775000

<h1>Exploratory Data Analytics (EDA)</h1>

<h1>Miss you na pho xxhehexx</h1>

<h1>#1. What are the median of bill_length_mm of every species?</h1>

In [85]:
Chinstrap_df = penguins[penguins['species'] == "Chinstrap"]
Chinstrap_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
276,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007,3.500
277,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007,3.900
278,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007,3.650
279,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007,3.525
280,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007,3.725
...,...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.000
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.400
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.775
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.100
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.775

In [86]:
Gentoo_df = penguins[penguins['species'] == "Gentoo"]

In [87]:
Gentoo_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
152,Gentoo,Biscoe,46.10000,13.20000,211.000000,4500.000000,female,2007,4.500000
153,Gentoo,Biscoe,50.00000,16.30000,230.000000,5700.000000,male,2007,5.700000
154,Gentoo,Biscoe,48.70000,14.10000,210.000000,4450.000000,female,2007,4.450000
155,Gentoo,Biscoe,50.00000,15.20000,218.000000,5700.000000,male,2007,5.700000
156,Gentoo,Biscoe,47.60000,14.50000,215.000000,5400.000000,male,2007,5.400000
...,...,...,...,...,...,...,...,...,...
271,Gentoo,Biscoe,43.92193,17.15117,200.915205,4201.754386,male,2009,4.201754
272,Gentoo,Biscoe,46.80000,14.30000,215.000000,4850.000000,female,2009,4.850000
273,Gentoo,Biscoe,50.40000,15.70000,222.000000,5750.000000,male,2009,5.750000
274,Gentoo,Biscoe,45.20000,14.80000,212.000000,5200.000000,female,2009,5.200000
275,Gentoo,Biscoe,49.90000,16.10000,213.000000,5400.000000,male,2009,5.400000

<h1>#2. In those 3 species who has the highest value count?</h1>

In [88]:
penguins['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

<h1>#3. How many Adelie are below in 4000kg?</h1>

In [89]:
penguins['body_mass_g'] <= 4000

0       True
1       True
2       True
3      False
4       True
       ...
339     True
340     True
341     True
342    False
343     True
Name: body_mass_g, Length: 344, dtype: bool

<h1>#4. Which species has the longest flipper_lenght?</h1>

In [90]:
Chinstrap_df['flipper_length_mm'].mean()

195.8235294117647

In [91]:
Gentoo_df['flipper_length_mm'].mean()

217.05576777966422

In [92]:
Adelie_df['flipper_length_mm'].mean()

nan

<h1>#5. Are there more male or female in the Adelie species</h1>

In [93]:
Adelie_df['sex'].mode()

Series([], Name: sex, dtype: object)

In [94]:
Gentoo_df['sex'].mode()

0    male
Name: sex, dtype: object

In [95]:
Chinstrap_df['sex'].mode()

0    female
1      male
Name: sex, dtype: object

<h1>6. How many penguins have a boss mass heavier then 4kg</h1>

In [96]:
(penguins['mass_kg'] >= 4).describe()

count      344
unique       2
top       True
freq       179
Name: mass_kg, dtype: object

<h1>7. How many penguins have a boss mass heavier than 4kg in the Torgersen?</h1>

In [97]:
(penguins['island'] == 'Torgersen').describe()

count       344
unique        2
top       False
freq        292
Name: island, dtype: object

<h1>8. How many penguins have a boss mass heavier than 4kg in the Dream?</h1>

In [98]:
(penguins['island'] == 'Dream').describe()

count       344
unique        2
top       False
freq        220
Name: island, dtype: object

<h1>9.How many species per island</h1>

In [99]:
PerIsland = penguins.groupby(['species' ,'island']).count()

In [100]:
PerIsland

                     bill_length_mm  bill_depth_mm  flipper_length_mm  \
species   island
Adelie    Biscoe                 44             44                 44
          Dream                  56             56                 56
          Torgersen              52             52                 52
Chinstrap Biscoe                  0              0                  0
          Dream                  68             68                 68
          Torgersen               0              0                  0
Gentoo    Biscoe                124            124                124
          Dream                   0              0                  0
          Torgersen               0              0                  0

                     body_mass_g  sex  year  mass_kg
species   island
Adelie    Biscoe              44   44    44       44
          Dream               56   56    56       56
          Torgersen           52   52    52       52
Chinstrap Biscoe               0    0     0        0
          Dream               68   68    68       68
          Torgersen            0    0     0        0
Gentoo    Biscoe             124  124   124      124
          Dream                0    0     0        0
          Torgersen            0    0     0        0

In [101]:
PerIsland1 = penguins.groupby(['species' ,'island' , 'sex', 'year']).size()

In [102]:
PerIsland1

species    island     sex     year
Adelie     Biscoe     female  2007     5
                              2008     9
                              2009     8
                      male    2007     5
                              2008     9
                              2009     8
           Dream      female  2007     9
                              2008     8
                              2009    10
                      male    2007    11
                              2008     8
                              2009    10
           Torgersen  female  2007     8
                              2008     8
                              2009     8
                      male    2007    12
                              2008     8
                              2009     8
Chinstrap  Biscoe     female  2007     0
                              2008     0
                              2009     0
                      male    2007     0
                              2008     0
                              2009     0
           Dream      female  2007    13
                              2008     9
                              2009    12
                      male    2007    13
                              2008     9
                              2009    12
           Torgersen  female  2007     0
                              2008     0
                              2009     0
                      male    2007     0
                              2008     0
                              2009     0
Gentoo     Biscoe     female  2007    16
                              2008    22
                              2009    20
                      male    2007    18
                              2008    24
                              2009    24
           Dream      female  2007     0
                              2008     0
                              2009     0
                      male    2007     0
                              2008     0
                              2009     0
           Torgersen  female  2007     0
                              2008     0
                              2009     0
                      male    2007     0
                              2008     0
                              2009     0
dtype: int64

In [103]:
avg_species_island = penguins.groupby(['species','island','sex'])['body_mass_g'].mean()

In [108]:
avg_species_island

species    island     sex
Adelie     Biscoe     female    3369.318182
                      male      4050.000000
           Dream      female    3344.444444
                      male      4008.620690
           Torgersen  female    3395.833333
                      male      3990.241228
Chinstrap  Biscoe     female            NaN
                      male              NaN
           Dream      female    3527.205882
                      male      3938.970588
           Torgersen  female            NaN
                      male              NaN
Gentoo     Biscoe     female    4679.741379
                      male      5411.011430
           Dream      female            NaN
                      male              NaN
           Torgersen  female            NaN
                      male              NaN
Name: body_mass_g, dtype: float64

<h1>Correlations</h1>

In [109]:
weight_flipper_cor = penguins['body_mass_g'].corr(penguins['bill_length_mm'])

In [110]:
weight_flipper_cor

0.5951098244376305

In [111]:
penguins.dtypes

species              category
island                 object
bill_length_mm        float64
bill_depth_mm         float64
flipper_length_mm     float64
body_mass_g           float64
sex                    object
year                    int64
mass_kg               float64
dtype: object

<h1>8. Is there a correlation between bill length and flipper length of a penguin?.</h1>

In [112]:
body_mass_corr = penguins['body_mass_g'].corr(penguins['bill_length_mm'])

In [113]:
body_mass_corr

0.5951098244376305

<h1>9.Is there a correlation between body mass and bill length of a penguin</h1>

In [114]:
body_mass_corr = penguins['bill_length_mm'].corr(penguins['flipper_length_mm'])

In [115]:
body_mass_corr

0.6561813407464278

<h1>10. Which species in the Biscoe Island hosts the most species?</h1>

In [116]:
biscoe = penguins[penguins['island'] == 'Biscoe']

In [117]:
ave_species_biscoe = biscoe.groupby(['island', 'species']).size()

In [123]:
ave_species_biscoe

island  species
Biscoe  Adelie        44
        Chinstrap      0
        Gentoo       124
dtype: int64

<h1>11. In which year was the highest number of Adelie Species</h1>

In [124]:
Adelie = penguins[penguins['species'] == 'Adelie']

In [125]:
Adelie_per_Island = Adelie.groupby(['species' , 'island' , 'year']).size()

In [126]:
Adelie_per_Island

species    island     year
Adelie     Biscoe     2007    10
                      2008    18
                      2009    16
           Dream      2007    20
                      2008    16
                      2009    20
           Torgersen  2007    20
                      2008    16
                      2009    16
Chinstrap  Biscoe     2007     0
                      2008     0
                      2009     0
           Dream      2007     0
                      2008     0
                      2009     0
           Torgersen  2007     0
                      2008     0
                      2009     0
Gentoo     Biscoe     2007     0
                      2008     0
                      2009     0
           Dream      2007     0
                      2008     0
                      2009     0
           Torgersen  2007     0
                      2008     0
                      2009     0
dtype: int64

<h1>12.Which species has the most weight recorded</h1>

In [129]:
penguins_weight = penguins.groupby(['species', 'body_mass_g']).count()

In [130]:
penguins_weight

                     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
species body_mass_g
Adelie  2700.0            0               0              0                  0
        2850.0            2               2              2                  2
        2900.0            3               3              3                  3
        2925.0            1               1              1                  1
        2975.0            1               1              1                  1
...                     ...             ...            ...                ...
Gentoo  5850.0            3               3              3                  3
        5950.0            2               2              2                  2
        6000.0            2               2              2                  2
        6050.0            1               1              1                  1
        6300.0            1               1              1                  1

                     sex  year  mass_kg
species body_mass_g
Adelie  2700.0         0     0        0
        2850.0         2     2        2
        2900.0         3     3        3
        2925.0         1     1        1
        2975.0         1     1        1
...                  ...   ...      ...
Gentoo  5850.0         3     3        3
        5950.0         2     2        2
        6000.0         2     2        2
        6050.0         1     1        1
        6300.0         1     1        1

[285 rows x 7 columns]

<h1>Numerical- Categorical Correlation Test</h1>
<h3>Library- SciPy (Scientific Python)</h3>
<h5>from scipy.stats import f_oneway</h5>

In [118]:
from scipy.stats import f_oneway

In [119]:
x_df = penguins[penguins['sex'] == 'male']

In [71]:
x_df =  penguins[penguins['sex'] == 'male']['body_mass_g']

In [72]:
x_df

0      3750.000000
3      4201.754386
5      3650.000000
7      4675.000000
8      3475.000000
          ...
334    3800.000000
336    3950.000000
339    4000.000000
341    3775.000000
342    4100.000000
Name: body_mass_g, Length: 179, dtype: float64

In [73]:
f_oneway (penguins[penguins['sex'] == 'male']['body_mass_g'],penguins[penguins['sex'] == 'female']['body_mass_g'])

F_onewayResult(statistic=68.38476171974526, pvalue=3.0226600487050253e-15)